#include <physical_layouts.dtsi>

/ {
    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "CCK BALL Wireless";

        kscan = <&kscan0>;
        transform = <&matrix_transform0>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0   38       0     0     0>
            , <&key_physical_attrs 100 100  100   38       0     0     0>
            , <&key_physical_attrs 100 100  200   13       0     0     0>
            , <&key_physical_attrs 100 100  300    0       0     0     0>
            , <&key_physical_attrs 100 100  400   13       0     0     0>
            , <&key_physical_attrs 100 100  500   25       0     0     0>
            , <&key_physical_attrs 100 100 1200   25       0     0     0>
            , <&key_physical_attrs 100 100 1300   13       0     0     0>
            , <&key_physical_attrs 100 100 1400    0       0     0     0>
            , <&key_physical_attrs 100 100 1500   13       0     0     0>
            , <&key_physical_attrs 100 100 1600   38       0     0     0>
            , <&key_physical_attrs 100 100 1700   38       0     0     0>
            , <&key_physical_attrs 100 100    0  138       0     0     0>
            , <&key_physical_attrs 100 100  100  138       0     0     0>
            , <&key_physical_attrs 100 100  200  113       0     0     0>
            , <&key_physical_attrs 100 100  300  100       0     0     0>
            , <&key_physical_attrs 100 100  400  113       0     0     0>
            , <&key_physical_attrs 100 100  500  125       0     0     0>
            , <&key_physical_attrs 100 100 1200  125       0     0     0>
            , <&key_physical_attrs 100 100 1300  113       0     0     0>
            , <&key_physical_attrs 100 100 1400  100       0     0     0>
            , <&key_physical_attrs 100 100 1500  113       0     0     0>
            , <&key_physical_attrs 100 100 1600  138       0     0     0>
            , <&key_physical_attrs 100 100 1700  138       0     0     0>
            , <&key_physical_attrs 100 100    0  238       0     0     0>
            , <&key_physical_attrs 100 100  100  238       0     0     0>
            , <&key_physical_attrs 100 100  200  213       0     0     0>
            , <&key_physical_attrs 100 100  300  200       0     0     0>
            , <&key_physical_attrs 100 100  400  213       0     0     0>
            , <&key_physical_attrs 100 100  500  225       0     0     0>
            , <&key_physical_attrs 100 100 1200  225       0     0     0>
            , <&key_physical_attrs 100 100 1300  213       0     0     0>
            , <&key_physical_attrs 100 100 1400  200       0     0     0>
            , <&key_physical_attrs 100 100 1500  213       0     0     0>
            , <&key_physical_attrs 100 100 1600  238       0     0     0>
            , <&key_physical_attrs 100 100 1700  238       0     0     0>
            , <&key_physical_attrs 100 100    0  338       0     0     0>
            , <&key_physical_attrs 100 100  100  338       0     0     0>
            , <&key_physical_attrs 100 100  200  338       0     0     0>
            , <&key_physical_attrs 100 100  500  338       0     0     0>
            , <&key_physical_attrs 100 100  600  363       0     0     0>
            , <&key_physical_attrs 100 100  700  388       0     0     0>
            , <&key_physical_attrs 100 100 1000  388       0     0     0>
            , <&key_physical_attrs 100 100 1100  363       0     0     0>
            , <&key_physical_attrs 100 100 1200  338       0     0     0>
            , <&key_physical_attrs 100 100 1500  338       0     0     0>
            , <&key_physical_attrs 100 100 1600  338       0     0     0>
            , <&key_physical_attrs 100 100 1700  338       0     0     0>
            ;
    };
};
